.filterMenuContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.customSearch {
  display: flex;
  margin-bottom: 10px;
}

.customSearchInput {
  flex-grow: 1;
  margin-right: 10px;
}

.filteredMessage {
  margin-top: 10px;
}

.blankpad {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2em;
}
